<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>1.md</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css" id="theme">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="css/zenburn.css">

		<!--[if lt IE 9]>
		<script src="js/lib/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
			<section  class="a" >
<section>
<h1>PPT-CLI</h1>
<h3>The HTML Presentation Framework</h3>
<p>Created by ruoyu@jirengu</p>
</section>
<section>
<h2 class="red">hello</h2>
<p>这里是 饥人谷</p>
<h2 class="red" id="background">world</h2>
<p>这里是 饥人谷</p>
<h2 data-name="ruoyu">welcome</h2>
<p>这里是 饥人谷</p>
</section>
</section>
<section  class="b" >
<section>
<h1>PPT-CLI</h1>
<h3>The HTML Presentation Framework</h3>
<p>Created by ruoyu@jirengu</p>
</section>
<section>
<h2 class="red">hello</h2>
<p>这里是 饥人谷</p>
<h2 class="red" id="background">world</h2>
<p>这里是 饥人谷</p>
<h2 data-name="ruoyu">welcome</h2>
<p>这里是 饥人谷</p>
</section>
</section>
<section>
<h2>这里是代码</h2>
<pre><code>var a = 1;
var b = 2;
function test(){
	
}
</code></pre>
</section>


			</div>

		</div>

		<script src="js/lib/classList.js"></script>
		<script src="js/lib/head.min.js"></script>
		<script src="js/lib/reveal.js"></script>
		<script scr="js/plugin/highlight/highlight.js"></script>
		<script scr="js/plugin/zoom-js/zoom.js"></script>
		<script scr="js/plugin/notes/notes.js"></script>

		<script>
			
		</script>
		<script>

			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// More info https://github.com/hakimel/reveal.js#dependencies
				// dependencies: [
				// 	{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
				// 	{ src: 'plugin/zoom-js/zoom.js', async: true },
				// 	{ src: 'plugin/notes/notes.js', async: true }
				// ]
			});
			hljs.initHighlightingOnLoad();

		</script>

	</body>
</html>
